<div class="container-full-bg" id="launchpad-main">
    <div class="container">
        <h1 class="title text-center">Amey<span class="title-strong">Rupji</span><span class="title-hollow">.com</span></h1>
        <h3 class="title text-center"> Software <span class="title-strong">Engineer</span> <span class="title-hollow">Artist</span></h3>
        <div id="displays">
            <div class="display" id="thunderboalt-display">
                <iframe src="http://beta.ameyrupji.com/"></iframe>
            </div>
            <div class="display" id="macbook-pro-display">
                <iframe src="http://beta.ameyrupji.com/"></iframe>
            </div>
            <div class="display" id="ipad-display">
                <iframe src="http://beta.ameyrupji.com/"></iframe>
            </div>
            <div class="display" id="iphone-display">
                <iframe src="http://beta.ameyrupji.com/"></iframe>
            </div>
        </div>
    </div>
</div>