<div class="container-fluid" id="skills-main">
    <div class="container">
        <div class="row container-title" id="skills-title">
            <div class="col-md-12 text-center">
                <h1 class="title">{{skills.title-light}} <span class="title-strong">{{skills.title-strong}}</span></h1>
            </div>
        </div>
        <div class="row container-btns" id="skills-btns">
            <div class="col-md-12 text-center">
                <div class="btn-group center" role="group">
                <button type="button" class="btn btn-primary" id="skills-btn-current">Current</button>
                <button type="button" class="btn btn-light" id="skills-btn-all">All</button>
                </div>
            </div>
        </div>
        <div class="row" id="skills-array">
            {{#each skills.skills}}
            <div class="col-md-4 col-lg-3 col-xl-2 col-sm-4 col-4 {{#unless skill-using}}unused{{/unless}}">
                <div class="skills-block text-center">
                    <i class="{{skill-css}}"></i>
                    <p>{{skill-name}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>