{{#if app.old-versions}}
 <div class="container-full-bg alert alert-warning" role="alert" id="version-band-main">
     <div class="container">
         Current Version: <span id="version-id">{{app.active-version}}</span>. View <a href="{{app.app_url}}" class="alert-link">latest</a>.
     </div>
 </div>
 {{/if}}