@use '../_variables';

.navbar { 


    &.nav-scrolled-20 {
        background: var(--navbar-scrolled-background-light);

        .navbar-brand {
            color: var(--navbar-scrolled-items-hover-light);

            &:hover {
                color: var(--navbar-scrolled-items-hover-light);
            }
        }
        
        .nav-item {
            &.active {
                a {
                    color: var(--navbar-scrolled-items-hover-light);
                    border-bottom: 1px solid var(--navbar-scrolled-items-hover-light);
                }
            }

            a {
                color: var(--navbar-scrolled-items-light);
                
                &:hover {
                    color: var(--navbar-scrolled-items-hover-light);
                }
            }
        }

        #burger .bar {
            background: var(--navbar-scrolled-items-hover-light);
        }
    }

    &.navbar-open {
        .navbar-brand {
            color: var(--font-color-light);
        }
    }

    #burger .bar {
        background: var(--navbar-items-hover);
    }
}

@media (prefers-color-scheme: dark) {
    .navbar {

        &.active {
            a {
                color: var(--navbar-scrolled-items-hover-dark);
                border-bottom: 1px solid var(--navbar-scrolled-items-hover-dark);
            }
        }

        &.nav-scrolled-20 {
            background: var(--navbar-scrolled-background-dark);

            .navbar-brand {
                color: #fff;
            }
            
            .nav-item {
                &.active {
                    a {
                        color: var(--navbar-scrolled-items-hover-dark);
                        border-bottom: 1px solid var(--navbar-scrolled-items-hover-dark);
                    }
                }
                
                a {
                    color: var(--navbar-scrolled-items-dark);
                    
                    &:hover {
                        color: var(--navbar-scrolled-items-hover-dark);
                    }
                }
            }

            #burger .bar {
                background: var(--navbar-scrolled-items-hover-dark);
            }
        }

        &.navbar-open {
            .navbar-brand {
                color: var(--font-color-dark);
            }
        }
    }
}