.scroll-container span
{
  border-right: 2px solid var(--scroll-color-light);
  border-bottom: 2px solid var(--scroll-color-light);
}

.scroll-container .mouse
{
  border: 2px solid var(--scroll-color-light);
}

.scroll-container .wheel
{
  background: var(--scroll-color-light);
}

.dark-mode .scroll-container span
{
  border-right: 2px solid var(--scroll-color-dark);
  border-bottom: 2px solid var(--scroll-color-dark);
}

.dark-mode .scroll-container .mouse
{
  border: 2px solid var(--scroll-color-dark);
}

.dark-mode .scroll-container .wheel
{
  background: var(--scroll-color-dark);
}