.scroll-container span
{
  border-right: 2px solid var(--scroll-color-light);
  border-bottom: 2px solid var(--scroll-color-light);
}

.scroll-container .mouse
{
  border: 2px solid var(--scroll-color-light);
}

.scroll-container .wheel
{
  background: var(--scroll-color-light);
}

@media (prefers-color-scheme: dark) {
  .scroll-container span
  {
    border-right: 2px solid var(--scroll-color-dark);
    border-bottom: 2px solid var(--scroll-color-dark);
  }

  .scroll-container .mouse
  {
    border: 2px solid var(--scroll-color-dark);
  }

  .scroll-container .wheel
  {
    background: var(--scroll-color-dark);
  }
}