@use '../_variables';

#version-band-main {
    padding: 0;
    margin-bottom: 0;
    border: 0px solid transparent;
    z-index: 9999;
    border-radius: 0;
    text-align: center;
    color: var(--version-band-color-light);
    background: var(--version-band-background-light);
}