version: 2.1

orbs:
  aws-s3: circleci/aws-s3@1.0.4

references:

build_base_image: &build_base_image
  circleci/node:11.10.0

deploy_base_image: &deploy_base_image
  circleci/python:2.7

working_directory: &working_directory
  ~/ameyrupji

build_default_config: &build_default_config
  docker:
    - image: *build_base_image
  working_directory: *working_directory

deploy_default_config: &deploy_default_config
  docker:
    - image: *deploy_base_image
  working_directory: *working_directory

repo_cache_key: &repo_cache_key
  ameyrupji-com-{{ .Branch }}-{{ .Revision }}

restore_repo: &restore_repo
  restore_cache:
    key: *repo_cache_key

save_repo: &save_repo
  save_cache:
    key: *repo_cache_key
    paths:
      - *working_directory

jobs:
  build:
    <<: *build_default_config
    steps:
      - checkout
      - run: 
          name: build
          command: | 
            cd src
            npm install parcel-bundler --save-dev
            npm run build
      - *save_repo
  upload-master:
    <<: *deploy_default_config
    steps:
      - *restore_repo
      - aws-s3/copy:
          from: /home/circleci/ameyrupji/src/dist/ 
          to: 's3://ameyrupji.com/'
          arguments: --recursive
  upload-develop:
    <<: *deploy_default_config
    steps:
      - *restore_repo
      - aws-s3/copy:
          from: /home/circleci/ameyrupji/src/dist/ 
          to: 's3://beta.ameyrupji.com/'
          arguments: --recursive
  upload-branches:
    <<: *deploy_default_config
    steps:
      - *restore_repo
      - aws-s3/copy:
          from: /home/circleci/ameyrupji/src/dist/ 
          to: s3://beta.ameyrupji.com/{{ .Branch }}/
          arguments: --recursive

workflows:
  version: 2
  build-upload:
    jobs:
      - build
      - approve-master:
          type: approval
          requires:
            - build
          filters:
            branches:
              only: master
      - upload-master:
          requires:
              - approve-master
          filters:
              branches:
                only: master
      - upload-develop:
          requires:
              - build
          filters:
              branches:
                only: develop
      - upload-branches:
          requires:
              - build
          filters:
              branches:
                ignore: 
                  - master
                  - develop

