@import '../_variables.scss';

#summary-main {
    background-color: $background-color-1-light;

    .title {
        color: $font-color-light;
    }

    .card-deck {
        .card {
            background-color: transparent !important;
            border-color: $background-color-1-light-alternate;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

            .card-body {
                p {
                    color: $font-color-light;;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    #summary-main {
        background-color: $background-color-1-dark;

        .title {
            color: $font-color-dark;
        }

        .card-deck {
            .card {
                background-color: transparent !important;
                border-color: $background-color-1-light-alternate;
                box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);

                .card-body {
                    p {
                        color: $font-color-dark;
                    }
                }
            }
        }
    }
}