@use '../_variables';

.form-label-group {
    background-color: var(--form-element-background-light);

    > label {
        color: var(--form-label-color-light);
    }

    input:not(:placeholder-shown) ~ label,
    textarea:not(:placeholder-shown) ~ label {
        color: var(--form-label-shown-color-light);
    }

    &.error {
        .form-control {
            border-color: var(--form-error-color-light);
        }

        > label {
            color: var(--form-error-color-light);
        }

        > label.error {
            color: var(--form-error-color-light);
        }
    }

    &.success > label.valid {
        color: var(--form-success-color-light);
    }
}

@media (prefers-color-scheme: dark) {
    .form-label-group {
        background-color: var(--form-element-background-dark);
        
        input,
        input:focus,
        textarea,
        textarea:focus,
        select,
        select:focus {
            color: var(--form-label-color-dark);
            background-color: transparent;
        }
        
        > label {
            color: var(--form-label-color-dark);
            background-color: transparent;
        }
        
        input:not(:placeholder-shown) ~ label,
        textarea:not(:placeholder-shown) ~ label {
            color: var(--form-label-shown-color-dark);
        }

        &.error {
            .form-control {
                border-color: var(--form-error-color-dark);
            }

            > label {
                color: var(--form-error-color-dark);
            }

            > label.error {
                color: var(--form-error-color-dark);
            }
        }

        &.success > label.valid {
            color: var(--form-success-color-dark);
        }
    }
}

