<div class="container-fluid" id="contact-main">
    <div id="map" class="text-center" style="overflow: hidden; margin-bottom: 100px;">
    </div>
    <div class="container text-center mb-6">
        <h1 class="title">Get In <span class="title-strong">Contact</span></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 col-12">
                <form id="contact-me-form">
                <p class="text-center">For professional inquiries, please fill in the form below.</p>
                <div class="form-label-group">
                    <input type="text" class="form-control" id="full-name-input" placeholder="Full Name" required></input>
                    <label for="full-name-input">Full Name</label>
                </div>
                <div class="form-label-group">
                    <input type="email" class="form-control" id="email-input" placeholder="Email Address" required></input>
                    <label for="email-input">Email Address</label>
                </div>
                <div class="form-label-group">
                    <input type="tel" class="form-control" id="telephone-input" placeholder="Phone Number" required></input>
                    <label for="telephone-input">Phone Number</label>
                </div>
                <div class="form-label-group">
                    <textarea class="form-control" id="message-input" placeholder="Message" rows="8"></textarea>
                    <label for="message-input">Message</label>
                </div>
                <button class="btn btn-light btn-block" type="reset" id="cancel-btn">Reset</button>
                <button class="btn btn-primary btn-block" type="submit" id="contact-submit-btn">Submit</button>
                </form>
            </div>
        </div>
        <div class="row text-center" id="contact-follow">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                <h2>Follow me</h2>
                <ul id="follow-me">
                <li><a href="https://www.linkedin.com/in/ameyrupji/"><i class="fab fa-linkedin fa-3x"></i></a></li>
                <li><a href="https://github.com/ameyrupji"><i class="fab fa-github fa-3x"></i></a></li>
                <li><a href="https://www.facebook.com/ameyrupji"><i class="fab fa-facebook fa-3x"></i></a></li>
                <li><a href="https://twitter.com/ameyrupji"><i class="fab fa-twitter fa-3x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>