<footer class="container-fluid" id="footer-main">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                <ul id="links">
                    <li><a href="#image-back-main">Top</a></li>
                    <li><a href="#summary-main">Summary</a></li>
                    <li><a href="#skills-main">Skills</a></li>
                    <li><a href="#timeline-main">Timeline</a></li>
                    <li><a href="#resume-main">Resume</a></li>
                    <li><a href="#contact-main">Contact</a></li>
                    <li><a href="http://blog.ameyrupji.com/">Blog <i class="fas fa-external-link-alt"></i></a></li>
                    <li><a href="http://code.ameyrupji.com/">Code <i class="fas fa-external-link-alt"></i></a></li>
                    <li><a href="http://ioc.ameyrupji.com/">IOC<i class="fas fa-external-link-alt"></i></a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                <h4>Share on</h4>
                <ul id="share-me">
                    <li>
                        <a class="btn btn-link sharer" href="#" id="share-linkedin-btn" data-sharer="linkedin" data-url="http://ameyrupji.com/">
                        <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link sharer" href="#" id="share-facebook-btn" data-sharer="facebook" data-title="Visit Amey Rupji's Website @ " data-hashtags="ameyrupji, ameyrupjiwebsite" data-url="http://ameyrupji.com/">
                        <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link sharer" href="#" id="share-twitter-btn" data-sharer="twitter" data-title="Visit Amey Rupji's Website @ " data-hashtags="ameyrupji, ameyrupjiwebsite" data-url="http://ameyrupji.com/">
                        <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link sharer" href="#" id="share-whatsapp-btn" data-sharer="whatsapp" data-title="Visit Amey Rupji's Website @ " data-url="http://ameyrupji.com/">
                        <i class="fab fa-whatsapp fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link sharer" href="#" id="share-reddit-btn" data-sharer="reddit" data-url="http://ameyrupji.com/">
                        <i class="fab fa-reddit fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <ul id="ci">
                    <li>Build: <img src="https://circleci.com/gh/ameyrupji/ameyrupji.com.svg?style=svg"></li>
                    <li>Release: <span id="release-number"></span></li>
                    <li>Powered By: <i class="fab fa-aws"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>