<div class="container-full-bg" id="image-back-main">
    <div class="jumbotron" id="gradient-main">
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
                <a class="navbar-brand" href="#summary-main">Amey <span id="last-name">Rupji</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-menu">
                    <div id="burger">
                    <div class="bar top"></div>
                    <div class="bar bottom"></div>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a href="#summary-main" class="nav-link">Summary</a>
                    </li>
                    <li class="nav-item">
                    <a href="#skills-main" class="nav-link">Skills</a>
                    </li>
                    <li class="nav-item">
                    <a href="#timeline-main" class="nav-link">Timeline</a>
                    </li>
                    <li class="nav-item">
                    <a href="#resume-main" class="nav-link">Resume</a>
                    </li>
                    <li class="nav-item">
                    <a href="#contact-main" class="nav-link">Contact</a>
                    </li>
                </ul>
                </div>
            </nav>
            <div id="jumbotron-content">
                <h1 class="title">Amey <span class="title-strong">Rupji</span></h1>
            </div>
        </div>
    </div>
    <div class="scroll-container">
        <div class="mouse">
            <div class="wheel">
            </div>
        </div>
        <div>
            <span class="unu"></span>
            <span class="doi"></span>
            <span class="trei"></span>
        </div>
        </div>
    </div>

    <div class="container mb-6 text-center" id="summary-main">
    <h1 class="title">Professional <span class="title-strong">Summary</span></h1>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
        <p>
            6+ years of experience in designing, developing, and delivering highly scalable enterprise applications and platform components. These were deployed both on-premises and on the cloud using open source and first-party tools in the healthcare domain.
        </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
        <p>
            Key strengths include sharp analytical skills, a constant focus on quality and process improvements, good software engineering and problem-solving capabilities, and excellent communication skills to engage business and technology stakeholders.
        </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
        <p>
            Experience working on all stages of the enterprise software development life cycle which includes conceptualization, storyboarding, agile sprint planning, test driven development, testing, technical product documentation, and user training.
        </p>
        </div>
    </div>
    </div>

    <div class="container-fluid" id="skills-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <h1 class="title">Technical <span class="title-strong">Skills</span></h1>
            <br/>
            <br/>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group center" role="group">
            <button type="button" class="btn btn-light" id="skills-btn-current">Currently Using</button>
            <button type="button" class="btn btn-primary" id="skills-btn-all">All</button>
            </div>
        </div>
        </div>
        <br/>
        <br/>
        <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-apple-original"></i>
            <p>macOS</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-amazonwebservices-original"></i>
            <p>AWS</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fab fa-atlassian fa-2x"></i>
            <p>Atlassian</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-bitbucket fa-2x"></i>
                <p>Bitbucket</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-bootstrap-plain"></i>
            <p>Bootstrap</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-csharp-plain"></i>
            <p>C#</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-cplusplus-plain"></i>
            <p>C++</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-visualstudio-plain"></i>
            <p>Code</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-confluence fa-2x"></i>
                <p>Confluence</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-css3-plain"></i>
            <p>CSS 3</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-django-plain"></i>
            <p>Django</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-git-plain"></i>
            <p>Git</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-github-plain"></i>
            <p>GitHub</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-dot-net-plain"></i>
            <p>Microsoft .Net</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-html5-plain-wordmark"></i>
            <p>HTML 5</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-intellij-plain"></i>
            <p>IntelliJ</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-javascript-plain"></i>
            <p>JavaScript</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-jenkins fa-2x"></i>
            <p>Jenkins</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-jira fa-2x"></i>
                <p>Jira</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-jquery-plain"></i>
            <p>jQuery</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="devicon-linux-plain"></i>
                <p>Linux</p>
            </div>
            </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-mongodb-plain-wordmark"></i>
            <p>MongoDB</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-mysql-plain"></i>
            <p>MySQL</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>New Relic</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-nodejs-plain"></i>
            <p>Node.js</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
                <i class="devicon-photoshop-plain"></i>
                <p>Photoshop</p>
            </div>
            </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-php-plain"></i>
            <p>PHP</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-postgresql-plain"></i>
            <p>PostgreSQL</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-python-plain"></i>
            <p>Python</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-pycharm-plain"></i>
            <p>PyCharm</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>Scala</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>Splunk</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="fas fa-database"></i>
            <p>SQL Server</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>Terraform</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-windows8-plain"></i>
            <p>Windows</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-wordpress-plain"></i>
            <p>WordPress</p>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="container-fluid" id="timeline-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <h1 class="title">My <span class="title-strong">Timeline</span></h1>
            <br/>
            <br/>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group center" role="group">
            <button type="button" class="btn btn-primary" id="timeline-btn-all">Complete</button>
            <button type="button" class="btn btn-light" id="timeline-btn-work">Work</button>
            <button type="button" class="btn btn-light" id="timeline-btn-education">Education</button>
            </div>
            <div class="btn-group center" role="group">
            <button type="button" class="btn btn-light" id="timeline-btn-3plus" disabled>+3 Years</button>
            <button type="button" class="btn btn-light" id="timeline-btn-5plus" disabled>+5 Years</button>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section id="timeline" class="container">
                    <div class="timeline-block education work" id="me-image">
                        <div class="timeline-img-container top">
                            <img src="../images/me.jpeg">
                        </div>
                    </div>
                    <div class="timeline-block-alt" id="built-website">
                        <div class="timeline-img-container-alt">
                            <button type="button" class="btn link" data-placement="right" data-toggle="tooltip" data-html="true" title="I built this Website">
                            </button>
                        </div>
                    </div>
                    <div class="timeline-block work" id="uhg-sse">
                        <div class="timeline-img-container">
                        </div>

                        <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#sse-modal">
                            <div class="heading">
                                <h2>Senior Software Engineer</h2>
                            </div>
                            <div class="heading-secondary">
                                <p>
                                <i class="far fa-building"></i>
                                <span class="company">UnitedHealth Group</span>
                                </p>
                                <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Apr 2015</span>
                                -
                                <span class="to">Present</span>
                                <span class="duration">(3+ yrs)</span>
                                </p>
                                <p>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="city-state">Austin, Texas Area</span>
                                </p>
                            </div>
                            <div class="text">
                            <p>Developed a scalable cloud-based data mastering platform.</p>
                            </div>
                            <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                            </div>
                        </div>
                        <div class="modal" id="sse-modal" tabindex="-1" role="dialog" aria-labelledby="sse-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1 class="modal-title text-center" id="sse-modal-label">Senior Software Engineer</h1>
                                <h2 class="text-center">
                                <span class="company">UnitedHealth Group</span>
                                </h2>
                                <h4 class="text-center">
                                    <span class="from">Apr 2015</span> - <span class="to">Present</span>
                                    <span class="duration">(3+ yrs)</span>
                                    <span class="separator">|</span>
                                    <span class="city-state"> Austin, Texas Area</span>
                                </h3>
                                <br/>
                                <br/>
                                <br/>
                                <h3>Work and Impact</h3>
                                <p>
                                Developed a scalable, cloud-based data mastering platform to consolidate, organize, aggregate, and enrich healthcare entities like patients, providers, payers, and practices.
                                </p>
                                <p>
                                Implemented a model and rule-based distributed matching algorithm to link healthcare entities from disparate data sources, each having millions of records for batch and streaming use cases.
                                </p>
                                <p>
                                Worked with 6+ teams across the globe to support use cases like health system planning, patient care coordination, and consumer outreach initiatives to drive healthy outcomes for patients.
                                </p>
                                <p>
                                Collaborated with teams to implement the best practices in cloud infrastructure automation, cloud application security, data governance, and data stewardship. 
                                </p>
                                <p>
                                Onboarded and mentored new developers and other technical stakeholders from integrating products through hands on training and technical product documentation.
                                </p>
                                <br/>

                                <h3>Technologies and Tools Used</h3>
                                <div class="row">
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-apple-original"></i>
                                    <p>macOS</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-amazonwebservices-original"></i>
                                    <p>AWS</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fab fa-atlassian fa-2x"></i>
                                    <p>Atlassian</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-bitbucket fa-2x"></i>
                                        <p>Bitbucket</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-visualstudio-plain"></i>
                                    <p>Code</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-confluence fa-2x"></i>
                                        <p>Confluence</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-django-plain"></i>
                                    <p>Django</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-git-plain"></i>
                                    <p>Git</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-github-plain"></i>
                                    <p>GitHub</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-intellij-plain"></i>
                                    <p>IntelliJ</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-jenkins fa-2x"></i>
                                    <p>Jenkins</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-jira fa-2x"></i>
                                        <p>Jira</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="devicon-linux-plain"></i>
                                        <p>Linux</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>New Relic</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-postgresql-plain"></i>
                                    <p>PostgreSQL</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-python-plain"></i>
                                    <p>Python</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-pycharm-plain"></i>
                                    <p>PyCharm</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>Scala</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>Splunk</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>Terraform</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="timeline-block-alt" id="advisory-to-uhg">
                        <div class="timeline-img-container-alt">
                            <button type="button" class="btn link" data-placement="right" data-toggle="tooltip" data-html="true" title="<b>Advisory</b> got Acquired by <b>UnitedHealth</b>">
                            </button>
                        </div>
                    </div>
                    <div class="timeline-block work" id="advisory-se">
                    <div class="timeline-img-container">
                    </div>

                    <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#advisory-se-modal">
                        <div class="heading">
                            <h2>Software Engineer</h2>
                        </div>
                        <div class="heading-secondary">
                            <p>
                                <i class="far fa-building"></i>
                                <span class="company">The Advisory Board Company (UnitedHealth Group)</span>
                            </p>
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Dec 2013</span>
                                -
                                <span class="to">Mar 2015</span>
                                <span class="duration">(1 yr 4 mos)</span>
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="city-state">Austin, Texas Area</span>
                            </p>
                        </div>
                        <div class="text">
                            <p>Developed a maintained platform to deploy web applications.</p>
                        </div>
                        <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                        </div>
                    </div>
                    <div class="modal" id="advisory-se-modal" tabindex="-1" role="dialog" aria-labelledby="sse-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <h1 class="modal-title text-center" id="sse-modal-label">Software Engineer</h1>
                            <h2 class="text-center">
                                <span class="company">The Advisory Board Company (UnitedHealth Group)</span>
                            </h2>
                            <h4 class="text-center">
                                <span class="from"> Dec 2013</span> - <span class="to">Mar 2015</span>
                                <span class="duration">(1 yr 4 mos)</span>
                                <span class="separator">|</span>
                                <span class="city-state"> Austin, Texas Area</span>
                            </h3>
                            <br/>
                            <br/>
                            <br/>
                            <h3>Work and Impact</h3>
                            <p>
                                Developed and maintained a user facing website and backend web services to deploy web applications for single and multi-tenant SaaS products within the company.
                            </p>
                            <p>
                                Empowered 4+ product teams easily scale their SaaS offerings to hundreds of health systems, maintaining their service-level agreements.
                            </p>
                            <p>
                                Enhanced the single sign-on platform by adding new functionalities and improving on existing testing infrastructure. 
                            </p>
                            <p> 
                                Demonstrated ownership by handling numerous product integrations on the single sign-on platform by collaborating with team leads, developers, testers, and business analysts.
                            </p>
                            <br/>
                            <h3>Technologies and Tools Used</h3>
                            <div class="row">
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="fab fa-atlassian fa-2x"></i>
                                    <p>Atlassian</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="fab fa-bitbucket fa-2x"></i>
                                    <p>Bitbucket</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-csharp-plain"></i>
                                    <p>C#</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-css3-plain"></i>
                                    <p>CSS</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="fab fa-confluence fa-2x"></i>
                                    <p>Confluence</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-dot-net-plain"></i>
                                    <p>.Net MVC</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="fas fa-database"></i>
                                    <p>SQL Server</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-git-plain"></i>
                                    <p>Git</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-github-plain"></i>
                                    <p>GitHub</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fab fa-html5 fa-2x"></i>
                                    <p>HTML</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-javascript-plain"></i>
                                    <p>JavaScript</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fab fa-jira fa-2x"></i>
                                    <p>Jira</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>New Relic</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>Splunk</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-windows8-plain"></i>
                                    <p>Windows</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="timeline-block work" id="advisory-ase">
                        <div class="timeline-img-container">
                        </div>

                        <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#advisory-ase-modal">
                            <div class="heading">
                                <h2>Associate Software Engineer</h2>
                            </div>
                            <div class="heading-secondary">
                                <p>
                                <i class="far fa-building"></i>
                                <span class="company">The Advisory Board Company (UnitedHealth Group)</span>
                                </p>
                                <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Sept 2012</span>
                                -
                                <span class="to">Dec 2013</span>
                                <span class="duration">(1 yr 3 mos)</span>
                                </p>
                                <p>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="city-state">Austin, Texas Area</span>
                                </p>
                            </div>
                            <div class="text">
                            <p>Developed an Single Sign On and User Provisioning platform.</p>
                            </div>
                            <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                            </div>
                        </div>
                        <div class="modal" id="advisory-ase-modal" tabindex="-1" role="dialog" aria-labelledby="ase-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1 class="modal-title text-center" id="sse-modal-label">Associate Software Engineer</h1>
                                <h2 class="text-center">
                                <span class="company">The Advisory Board Company (UnitedHealth Group)</span>
                                </h2>
                                <h4 class="text-center">
                                    <span class="from"> Dec 2013</span> - <span class="to">Mar 2015</span>
                                    <span class="duration">(1 yr 4 mos)</span>
                                    <span class="separator">|</span>
                                    <span class="city-state"> Austin, Texas Area</span>
                                </h3>
                                <br/>
                                <br/>
                                <br/>
                                <h3>Work and Impact</h3>
                                <p>
                                Collaborated with product management, user experience, engineering, quality assurance, and business analyst teams, as well as busniess stakeholders to evangelize, organize, and develop a single sign-on platform using SAML 2.0 protocol.
                                </p>
                                <p>
                                Worked with 10+ internal product teams to replace their ad-hoc password protection policies by migrating them over to the single sign-on platform using stateless RESTful web services combined with an intuitive workflow application. This enabled end users of the system to have a more secure and unified experience with numerous SaaS offerings. This implementation supported federated single sign-on experience for configured clients.
                                </p>
                                <p>
                                Ensured robustness and reliability of the application by building testing frameworks which eased extensibility of unit, integration, functional, and regression tests and supported test-driven development.
                                </p>
                                <br/>
                                <h3>Technologies and Tools Used</h3>
                                <div class="row">
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-apache-plain"></i>
                                    <p>Apache</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-bitbucket fa-2x"></i>
                                        <p>Bitbucket</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-csharp-plain"></i>
                                    <p>C#</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-css3-plain"></i>
                                    <p>CSS</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-confluence fa-2x"></i>
                                        <p>Confluence</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="devicon-dot-net-plain"></i>
                                        <p>.Net MVC</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-database"></i>
                                    <p>SQL Server</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-git-plain"></i>
                                    <p>Git</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-github-plain"></i>
                                    <p>GitHub</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-html5 fa-2x"></i>
                                        <p>HTML</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="devicon-javascript-plain"></i>
                                        <p>JavaScript</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                        <i class="fab fa-jira fa-2x"></i>
                                        <p>Jira</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>New Relic</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>Splunk</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-windows8-plain"></i>
                                    <p>Windows</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="timeline-block-alt" id="moved-to-austin">
                    <div class="timeline-img-container-alt">
                        <button type="button" class="btn link" data-placement="right" data-toggle="tooltip" data-html="true" title="Moved to <b>Austin</b>.">
                        </button>
                    </div>
                    </div>
                    <div class="timeline-block education" id="ttu-ms">
                    <div class="timeline-img-container">
                    </div>

                    <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#ttu-ms-modal">
                        <div class="heading">
                            <h2>Master of Science in Computer Science</h2>
                        </div>
                        <div class="heading-secondary">
                            <p>
                                <i class="fas fa-university"></i>
                                <span class="company">Texas Tech University</span>
                            </p>
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Aug 2010</span>
                                -
                                <span class="to">Aug 2012</span>
                                <span class="duration">(2 yrs)</span>
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="city-state">Lubbock, Texas Area</span>
                            </p>
                        </div>
                        <div class="text">
                            <p>Completed my Masters degree in Computer Science with a GPA of 3.66/4</p>
                        </div>
                        <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                        </div>
                    </div>
                    <div class="modal" id="ttu-ms-modal" tabindex="-1" role="dialog" aria-labelledby="ttu-ms-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <h1 class="modal-title text-center" id="ttu-ms-modal-label">Master of Science in Computer Science</h1>
                            <h2 class="text-center">
                                <span class="company">Texas Tech University</span>
                            </h2>
                            <h4 class="text-center">
                                <span class="from">Aug 2010</span> - <span class="to">Aug 2012</span>
                                <span class="duration">(2 yrs)</span>
                                <span class="separator">|</span>
                                <span class="city-state">Lubbock, Texas Area</span>
                            </h3>
                            <br/>
                            <br/>
                            <br/>
                            <h3>Grades</h3>
                            <p>
                                Secured a GPA of 3.66 / 4
                            </p>
                            <br/>
                            <h3>Courses Taken</h3>
                                <ul>
                                    <li>Advanced Database Management Systems <i>(CS 5356)</i></li>
                                    <li>Advanced Operating Systems <i>(CS 5352)</i></li>
                                    <li>Analysis of Algorithms <i>(CS 5381)</i></li>
                                    <li>Logic for Computer Scientists <i>(CS 5384)</i></li>
                                    <li>Masters Project - Computer Science Department Course Scheduler <i>(CS 6001)</i></li>
                                    <li>Principles of Multiprocessor Systems <i>(CS 5365)</i></li>
                                    <li>Scientific Computing <i>(CS 5328)</i></li>
                                    <li>Secure Software Engineering <i>(CS 5332)</i></li>
                                    <li>Software Modeling and Architecture <i>(CS 5373)</i></li>
                                    <li>Theory of Automata <i>(CS 5383)</i></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="timeline-block work" id="ttu-ga">
                    <div class="timeline-img-container">
                    </div>

                    <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#ttu-ga-modal">
                        <div class="heading">
                            <h2>Graduate Assistant</h2>
                        </div>
                        <div class="heading-secondary">
                            <p>
                                <i class="far fa-building"></i>
                                <span class="company">Texas Tech University</span>
                            </p>
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Aug 2011</span>
                                -
                                <span class="to">July 2012</span>
                                <span class="duration">(1 yr)</span>
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="city-state">Lubbock, Texas Area</span>
                            </p>
                        </div>
                        <div class="text">
                            <p>Worked part time with the Technology Support team to maintain websites IT Department websites.</p>
                        </div>
                        <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                        </div>
                    </div>
                    <div class="modal" id="ttu-ga-modal" tabindex="-1" role="dialog" aria-labelledby="ttu-ga-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <h1 class="modal-title text-center" id="sse-modal-label">Graduate Assistant</h1>
                            <h2 class="text-center">
                                <span class="company">Information Technology Division, Texas Tech University</span>
                            </h2>
                            <h4 class="text-center">
                                <span class="from">Aug 2011</span> - <span class="to">Jul 2012</span>
                                <span class="duration">(1 yr)</span>
                                <span class="separator">|</span>
                                <span class="city-state">Lubbock, Texas Area</span>
                            </h3>
                            <br/>
                            <br/>
                            <br/>
                            <h3>Work and Impact</h3>
                            <p>
                                Collaborated with the Information Technology Division on building, reorganizing and testing for web standards and web accessibility and documented various websites and web applications within Texas Tech University.
                            </p>
                            <br/>
                            <h3>Technologies and Tools Used</h3>
                            <div class="row">
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-css3-plain"></i>
                                    <p>CSS</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fab fa-html5 fa-2x"></i>
                                    <p>HTML</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-javascript-plain"></i>
                                    <p>JavaScript</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-jquery-plain"></i>
                                    <p>jQuery</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-photoshop-plain"></i>
                                    <p>Photoshop</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-php-plain"></i>
                                    <p>PHP</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="timeline-block work" id="ttu-sa">
                    <div class="timeline-img-container">
                    </div>

                    <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#ttu-sa-modal">
                        <div class="heading">
                            <h2>Student Assistant</h2>
                        </div>
                        <div class="heading-secondary">
                            <p>
                                <i class="far fa-building"></i>
                                <span class="company">Texas Tech University</span>
                            </p>
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Jul 2010</span>
                                -
                                <span class="to">Aug 2011</span>
                                <span class="duration">(1 yr)</span>
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="city-state">Lubbock, Texas Area</span>
                            </p>
                        </div>
                        <div class="text">
                            <p>Worked part time on improving and maintaining websites for the Rawls College of Business.</p>
                        </div>
                        <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                        </div>
                    </div>
                    <div class="modal" id="ttu-sa-modal" tabindex="-1" role="dialog" aria-labelledby="ttu-sa-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <h1 class="modal-title text-center" id="sse-modal-label">Student Assistant</h1>
                            <h2 class="text-center">
                                <span class="company">Rawls College of Business, Texas Tech University</span>
                            </h2>
                            <h4 class="text-center">
                                <span class="from">Jul 2010</span> - <span class="to">Aug 2011</span>
                                <span class="duration">(1 yr)</span>
                                <span class="separator">|</span>
                                <span class="city-state">Lubbock, Texas Area</span>
                            </h3>
                            <br/>
                            <br/>
                            <br/>
                            <h3>Work and Impact</h3>
                            <p>
                                Worked on improving and maintaining 26+ websites for the Rawls College of Business.
                            </p>
                            <p>
                                Developed an easy to use web framework for mobile compatability and improved cross-platform user experiences.
                            </p>
                            <p>
                                Provided support and troubleshooting for technical issues in a printing lab for students of the Rawls College of Business.
                            </p>
                            <br/>
                            <h3>Technologies and Tools Used</h3>
                            <div class="row">
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>CSS</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="fas fa-code fa-2x"></i>
                                    <p>HTML</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-javascript-plain"></i>
                                    <p>JavaScript</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                    <div class="skills-block text-center">
                                    <i class="devicon-jquery-plain"></i>
                                    <p>jQuery</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-photoshop-plain"></i>
                                    <p>Photoshop</p>
                                </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
                                <div class="skills-block text-center">
                                    <i class="devicon-php-plain"></i>
                                    <p>PHP</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="timeline-block-alt" id="moved-to-usa">
                    <div class="timeline-img-container-alt">
                        <button type="button" class="btn link" data-placement="right" data-toggle="tooltip" data-html="true" title="Moved to the <b>US</b>.">
                        </button>
                    </div>
                    </div>
                    <div class="timeline-block education" id="mu-boe-it">
                    <div class="timeline-img-container">
                    </div>

                    <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#mu-boe-it-modal">
                        <div class="heading">
                            <h2>Bachelors of Engineering in Information Technology</h2>
                        </div>
                        <div class="heading-secondary">
                            <p>
                                <i class="fas fa-university"></i>
                                <span class="company">Mumbai University</span>
                            </p>
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Jun 2006</span>
                                -
                                <span class="to">Jul 2010</span>
                                <span class="duration">(4 yrs)</span>
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="city-state">Mumbai, India</span>
                            </p>
                        </div>
                        <div class="text">
                            <p>Completed my Bachelors of Engineering in Information Technology from K. J. Somaiya College of Engineering with First Class.</p>
                        </div>
                        <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                        </div>
                    </div>
                    <div class="modal" id="mu-boe-it-modal" tabindex="-1" role="dialog" aria-labelledby="mu-boe-it--modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <h1 class="modal-title text-center" id="ttu-ms-modal-label">Bachelors of Engineering in Information Technology</h1>
                            <h2 class="text-center">
                                <span class="company">Mumbai University</span>
                            </h2>
                            <h4 class="text-center">
                                <span class="from">Jun 2006</span> - <span class="to">Jul 2010</span>
                                <span class="duration">(4 yrs)</span>
                                <span class="separator">|</span>
                                <span class="city-state">Mumbai, India</span>
                            </h3>
                            <br/>
                            <br/>
                            <br/>
                            <h3>Grades</h3>
                                <p>Completed my Bachelors of Engineering in Information Technology from K. J. Somaiya College of Engineering with first class (honors).</p>
                            <br/>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="timeline-block education" id="mu-hsc-science">
                    <div class="timeline-img-container">
                    </div>

                    <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#mu-hsc-science-modal">
                        <div class="heading">
                            <h2>Higher Secondary Examination in Science</h2>
                        </div>
                        <div class="heading-secondary">
                            <p>
                                <i class="fas fa-university"></i>
                                <span class="company">Mumbai University</span>
                            </p>
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Jun 2004</span>
                                -
                                <span class="to">Jul 2006</span>
                                <span class="duration">(2 yrs)</span>
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="city-state">Mumbai, India</span>
                            </p>
                        </div>
                        <div class="text">
                            <p>Completed my Higher Secondary Examination in Science from KC College with First Class.</p>
                        </div>
                        <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                        </div>
                    </div>
                    <div class="modal" id="mu-hsc-science-modal" tabindex="-1" role="dialog" aria-labelledby="mu-boe-it-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <h1 class="modal-title text-center" id="ttu-ms-modal-label">Higher Secondary Examination in Science</h1>
                            <h2 class="text-center">
                                <span class="company">KC College Mumbai University</span>
                            </h2>
                            <h4 class="text-center">
                                <span class="from">Jun 2004</span> - <span class="to">Jul 2006</span>
                                <span class="duration">(2 yrs)</span>
                                <span class="separator">|</span>
                                <span class="city-state">Mumbai, India</span>
                            </h3>
                            <br/>
                            <br/>
                            <br/>
                            <h3>Grades</h3>
                            <p>
                                Completed my Higher Secondary Examination in Science from KC College with first class (honors);
                            </p>
                            <br/>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="timeline-block education" id="icse">
                    <div class="timeline-img-container">
                    </div>

                    <div class="timeline-content timeline-block-content" data-toggle="modal" data-target="#icse-modal">
                        <div class="heading">
                            <h2>Indian Certificate of Secondary Education (ICSE)</h2>
                        </div>
                        <div class="heading-secondary">
                            <p>
                                <i class="fas fa-university"></i>
                                <span class="company">Council for the Indian School Certificate Examination</span>
                            </p>
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="from">Mar 1993</span>
                                -
                                <span class="to">Apr 2004</span>
                                <span class="duration">(11 yrs)</span>
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="city-state">Mumbai, India</span>
                            </p>
                        </div>
                        <div class="text">
                            <p>Completed schooling from The St. Marys School I.C.S.E.</p>
                        </div>
                        <div class="read-more">
                            <p align="right"><span class="read-more-click">Click</span><span class="read-more-tap">Tap</span> to Read More...</p>
                        </div>
                    </div>
                    <div class="modal" id="icse-modal" tabindex="-1" role="dialog" aria-labelledby="icse-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <h1 class="modal-title text-center" id="ttu-ms-modal-label">Indian Certificate of Secondary Education (ICSE)</h1>
                            <h2 class="text-center">
                                <span class="company">The St. Marys School I.C.S.E.</span>
                            </h2>
                            <h4 class="text-center">
                                <span class="from">Mar 1993</span> - <span class="to">Apr 2004</span>
                                <span class="duration">(11 yrs)</span>
                                <span class="separator">|</span>
                                <span class="city-state">Mumbai, India</span>
                            </h3>
                            <br/>
                            <br/>
                            <br/>
                            <h3>Grades</h3>
                            <p>
                                Completed schooling from The St. Marys School I.C.S.E. with a score of 80.5 percentile in Indian Certificate of Secondary Education Examination.
                            </p>
                            <br/>
                            <h3>Extra Curricular Activities</h3>
                            <p>
                                Participated and won various medals in district and state level swimming competitions.
                            </p>
                            <p>
                                Swam channel from the Elephanta Caves to the Gateway of India a distance of 12.2 kms (7.6 miles) in 3 hrs 15 mins officiated by the Greater Mumbai Armature Aquatic Association (GMAAA).
                            </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="timeline-block-alt">
                        <div class="timeline-img-container-alt">
                            <button type="button" class="btn link" data-placement="right" data-toggle="tooltip" data-html="true" title="Swam Elephanta Caves to Gateway of India <b>(7.6 miles)</b>">
                            </button>
                        </div>
                    </div>
                    <div class="timeline-block-alt">
                        <div class="timeline-img-container-alt">
                            <button type="button" class="btn link" data-placement="right" data-toggle="tooltip" data-html="true" title="Born in <b>India</b>">
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>

    <div class="container-fluid" id="resume-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title">View <span class="title-strong">Resume</span></h1>
            </div>
        </div>
        <div class="row" id="resume-download-row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
            <div class="download-btn">
                <a class="btn word" href="../assets/word/ameyrupji_resume.docx">
                Download Word
                </a>
            </div>
            <div class="file-icon">
                <i class="far fa-file-word"></i>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
            <div class="download-btn">
                <a class="btn pdf" href="../assets/pdf/ameyrupji_resume.pdf">
                Download PDF
                </a>
            </div>
            <div class="file-icon">
                <i class="far fa-file-pdf"></i>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
            <div class="download-btn">
                <a class="btn btn-light sharer" href="#" id="share-email-btn">
                Email
                </a>
            </div>
            <div class="file-icon">
                <i class="fas fa-share"></i>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="container-fluid" id="contact-main">
    <div id="map" class="text-center" style="overflow: hidden; margin-bottom: 100px;">
    </div>
    <div class="container text-center mb-6">
        <h1 class="title">Get In <span class="title-strong">Contact</span></h1>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 col-12">
            <form id="contact-me-form">
            <p class="text-center">For professional inquiries, please fill in the form below.</p>
            <div class="form-label-group">
                <input type="text" class="form-control" id="full-name-input" placeholder="Full Name" required></input>
                <label for="full-name-input">Full Name</label>
            </div>
            <div class="form-label-group">
                <input type="email" class="form-control" id="email-input" placeholder="Email Address" required></input>
                <label for="email-input">Email Address</label>
            </div>
            <div class="form-label-group">
                <input type="tel" class="form-control" id="telephone-input" placeholder="Phone Number" required></input>
                <label for="telephone-input">Phone Number</label>
            </div>
            <div class="form-label-group">
                <textarea class="form-control" id="message-input" placeholder="Message" rows="8"></textarea>
                <label for="message-input">Message</label>
            </div>
            <button class="btn btn-light btn-block" type="reset" id="cancel-btn">Reset</button>
            <button class="btn btn-primary btn-block" type="submit" id="contact-submit-btn">Submit</button>
            </form>
        </div>
        </div>
        <div class="row text-center" id="contact-follow">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                <h2>Follow me</h2>
                <ul id="follow-me">
                <li><a href="https://www.linkedin.com/in/ameyrupji/"><i class="fab fa-linkedin fa-3x"></i></a></li>
                <li><a href="https://github.com/ameyrupji"><i class="fab fa-github fa-3x"></i></a></li>
                <li><a href="https://www.facebook.com/ameyrupji"><i class="fab fa-facebook fa-3x"></i></a></li>
                <li><a href="https://twitter.com/ameyrupji"><i class="fab fa-twitter fa-3x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
