<div class="container-fluid" id="resume-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title">View <span class="title-strong">Resume</span></h1>
            </div>
        </div>
        <div class="row" id="resume-download-row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
                <div class="download-btn">
                    <a class="btn word" href="../assets/word/ameyrupji_resume.docx">
                    Download Word
                    </a>
                </div>
                <div class="file-icon">
                    <i class="far fa-file-word"></i>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
                <div class="download-btn">
                    <a class="btn pdf" href="../assets/pdf/ameyrupji_resume.pdf">
                    Download PDF
                    </a>
                </div>
                <div class="file-icon">
                    <i class="far fa-file-pdf"></i>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
                <div class="download-btn">
                    <a class="btn btn-light sharer" href="#" id="share-email-btn">
                    Email
                    </a>
                </div>
                <div class="file-icon">
                    <i class="fas fa-share"></i>
                </div>
            </div>
        </div>
    </div>
</div>