<div class="container-fluid" id="skills-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <h1 class="title">Technical <span class="title-strong">Skills</span></h1>
            <br/>
            <br/>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group center" role="group">
            <button type="button" class="btn btn-light" id="skills-btn-current">Currently Using</button>
            <button type="button" class="btn btn-primary" id="skills-btn-all">All</button>
            </div>
        </div>
        </div>
        <br/>
        <br/>
        <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-apple-original"></i>
            <p>macOS</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-amazonwebservices-original"></i>
            <p>AWS</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fab fa-atlassian fa-2x"></i>
            <p>Atlassian</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-bitbucket fa-2x"></i>
                <p>Bitbucket</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-bootstrap-plain"></i>
            <p>Bootstrap</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-csharp-plain"></i>
            <p>C#</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-cplusplus-plain"></i>
            <p>C++</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-visualstudio-plain"></i>
            <p>Code</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-confluence fa-2x"></i>
                <p>Confluence</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-css3-plain"></i>
            <p>CSS 3</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-django-plain"></i>
            <p>Django</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-git-plain"></i>
            <p>Git</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-github-plain"></i>
            <p>GitHub</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-dot-net-plain"></i>
            <p>Microsoft .Net</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-html5-plain-wordmark"></i>
            <p>HTML 5</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-intellij-plain"></i>
            <p>IntelliJ</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-javascript-plain"></i>
            <p>JavaScript</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-jenkins fa-2x"></i>
            <p>Jenkins</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="fab fa-jira fa-2x"></i>
                <p>Jira</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-jquery-plain"></i>
            <p>jQuery</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
                <i class="devicon-linux-plain"></i>
                <p>Linux</p>
            </div>
            </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-mongodb-plain-wordmark"></i>
            <p>MongoDB</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-mysql-plain"></i>
            <p>MySQL</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>New Relic</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-nodejs-plain"></i>
            <p>Node.js</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
                <i class="devicon-photoshop-plain"></i>
                <p>Photoshop</p>
            </div>
            </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-php-plain"></i>
            <p>PHP</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-postgresql-plain"></i>
            <p>PostgreSQL</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-python-plain"></i>
            <p>Python</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="devicon-pycharm-plain"></i>
            <p>PyCharm</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>Scala</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>Splunk</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="fas fa-database"></i>
            <p>SQL Server</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6">
            <div class="skills-block text-center">
            <i class="fas fa-code fa-2x"></i>
            <p>Terraform</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-windows8-plain"></i>
            <p>Windows</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 unused">
            <div class="skills-block text-center">
            <i class="devicon-wordpress-plain"></i>
            <p>WordPress</p>
            </div>
        </div>
        </div>
    </div>
</div>