<div class="container-fluid" id="summary-main">
    <div class="container">
        <div class="row container-title" id="summary-title">
            <div class="col-md-12 text-center">
                <h1 class="title">{{summary.title-light}} <span class="title-strong">{{summary.title-strong}}</span></h1>
            </div>
        </div>
        <div class="row" id="summary-summaries">
            {{#each summary.summaries}}
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
                <p>
                {{this}} 
                </p>
            </div>
            {{/each}}
        </div>
    </div>
</div>