<div class="container mb-6 text-center" id="summary-main">
    <h1 class="title">Professional <span class="title-strong">Summary</span></h1>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
        <p>
            6+ years of experience in designing, developing, and delivering highly scalable enterprise applications and platform components. These were deployed both on-premises and on the cloud using open source and first-party tools in the healthcare domain.
        </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
        <p>
            Key strengths include sharp analytical skills, a constant focus on quality and process improvements, good software engineering and problem-solving capabilities, and excellent communication skills to engage business and technology stakeholders.
        </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 text-center">
        <p>
            Experience working on all stages of the enterprise software development life cycle which includes conceptualization, storyboarding, agile sprint planning, test driven development, testing, technical product documentation, and user training.
        </p>
        </div>
    </div>
</div>