body, html {
  width: 100%;
  height: 100%;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#gradient-main {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(141deg, rgba(0, 210, 255, 0.498039), rgba(249, 244, 152, 0.5));
}

#image-back-main{
  background-image: url("../images/background.jpg") ;
  background-size: cover; 
  height: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-position: 50% 0%;
  background-size: cover;
  padding: 0;
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
