/*
* footer
*/

#footer-main {
    background: rgb(31, 55, 75);
    background: -webkit-linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    background: -moz-linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    background: -o-linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    background: linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    color: #fff;
    padding: 150px 0 50px 0;
}

#footer-main ul {
    list-style-type: none;
    padding: 0;
}

#footer-main ul li.list-heading {
    font-weight: 100;
    margin-bottom: 10px;
    opacity: 1;
}

#footer-main ul li.list-heading .list-heading-strong {
    font-weight: 900;
}

#footer-main .footer-no-icons-list {
    text-transform: uppercase;
}

#footer-main .footer-no-icons-flat-list li {
    display: inline-block;
}

#footer-main .footer-no-icons-flat-list li:not(:first-child) a,
#footer-main .footer-no-icons-flat-list li:not(:first-child) a {
    border-left: 1px solid #fff;
    padding-left: 10px;
    margin-left: 10px;
}

#footer-main p,
#footer-main a,
#footer-main i,
#footer-main li {
    color: #fff;
    opacity: .8;
}

#footer-main hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    opacity: .8;
    margin: 1em 0;
    padding: 0; 
}

#footer-main a:hover {
    opacity: 1;
    text-decoration: none
}

#footer-main a i {
    width: 30px;
}

#footer-main a.sharer {
    margin: 0;
    padding: 0;
}

@media (max-width:768px) {
    #footer-main .footer-no-icons-flat-list li {
        width: 45%;
        padding-top: 10px;
        text-align: center;
    }

    #footer-main .footer-no-icons-flat-list li:not(:first-child) a,
    #footer-main .footer-no-icons-flat-list li:not(:first-child) a {
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
}


@media only screen and (min-width:769px) and (max-width: 1169px) {
}

@media only screen and (min-width: 1170px) {
}