/*
* footer
*/

#footer-main {
    background: rgb(31, 55, 75);
    background: -webkit-linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    background: -moz-linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    background: -o-linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    background: linear-gradient(141deg, rgba(31, 55, 75, 1), rgba(53, 92, 125, 1));
    color: #fff;
    padding: 150px 0 100px 0;
}

#footer-main ul {
    list-style-type: none;
    margin-top:30px;
    padding: 0;
}

#footer-main ul li.list-heading {
    font-weight: 600;
}


#footer-main ul#links li:not(:first-child),
#footer-main ul#ci li:not(:first-child) {
    border-left: 1px solid #fff;
}


#footer-main p,
#footer-main a,
#footer-main i,
#footer-main li {
    color: #fff;
    opacity: .8;
    text-transform: uppercase;
}

#footer-main a:hover {
    opacity: 1;
    text-decoration: none
}

#footer-main a i {
    width: 30px;
}


@media (max-width:768px) {
}


@media only screen and (min-width:769px) and (max-width: 1169px) {
}

@media only screen and (min-width: 1170px) {
}