/*
* Summary
*/

#summary-main{
    padding: 150px 0;
}

#summary-main h1 {
    margin-bottom: 100px;
}

#summary-main p {
    font-size: 25px !important;
}


@media (max-width:768px) {
    #summary-main p {
        font-size: 17px !important;
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media only screen and (min-width:769px) and (max-width: 1169px) {
    #summary-main p {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 1170px) {
}