@use '../_variables';

.theme-switcher {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .feather {
    height: 24px;
    width: 24px;
    color: var(--navbar-items);
    &:hover {
      color: var(--navbar-items-hover);
    }
  }

  .nav-scrolled-20 & {
    .feather {
      color: var(--navbar-scrolled-items-light);
      &:hover {
        color: var(--navbar-scrolled-items-hover-light);
      }
    }
  }

  .dark-mode .nav-scrolled-20 & {
    .feather {
      color: var(--navbar-scrolled-items-dark);
      &:hover {
        color: var(--navbar-scrolled-items-hover-dark);
      }
    }
  }
}
