
.si {
    display: block;
    margin: auto;
    background-size: cover;
    background-repeat: none;

    &.new-relic {
        background-image: url(../images/skills-icons/newrelic.dark.svg);
        width: 73px;
        height: 60px;
        fill: black;

        &.light {
            background-image: url(../images/skills-icons/newrelic.svg);
            fill: white;
        }
    }

    &.structuremap {
        background-image: url(../images/skills-icons/structuremap.dark.svg);
        width: 60px;
        height: 60px;

        &.light {
            background-image: url(../images/skills-icons/structuremap.svg);
        }
    }
}

@media (prefers-color-scheme: dark) {

    .si {
        &.new-relic {
            background-image: url(../images/skills-icons/newrelic.svg);
        }

        &.structuremap {
            background-image: url(../images/skills-icons/structuremap.svg);
        }
    }
}